* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  /*padding: 22px 16px;*/
  padding: 11px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the div that holds the tab content */
.tabcontent {
  float: left;
  /* padding: 24px 24px; */
  display: none;
  padding: 0px 12px;
  line-height: 30px;
  /* border: 1px solid #ccc; */
  border: none;
  width: 70%;
  border-left: none;
  height: 300px;
  /* text-align: center; */
}

/* Style the individual items of the tab content */
[data-song] {
  background-color: #ffffff;
  border: none;
  /* border: 1px solid #e5e5e5; */
  color: #272727;
  /* padding: 8px 25px; */
  padding: none;
  text-decoration: none;
  font-style: italic;

}

[data-song][aria-pressed="true"] {
  background-color: #e5e5e5;
  box-shadow: inset 0 2.5px 4px rgba(0, 0, 0, 0.15), 0 1px 2.5px rgba(0, 0, 0, 0.05);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
